<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fj.swsk.cn.locationtest"
          android:versionName="1.0">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
<uses-feature android:name="android.hardware.camera.autofocus" />
<application android:label="@string/app_name" >
    <activity android:name="fj.swsk.cn.locationtest.MainActivity"
              android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name="com.ZbarZxing.XZbar.ZbarActivity" >
    </activity>
</application>
</manifest>



    <!--<?xml version="1.0" encoding="utf-8"?>-->
<!--<manifest package="fj.swsk.cn.locationtest"-->
          <!--xmlns:android="http://schemas.android.com/apk/res/android">-->
<!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
<!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
<!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
<!--<uses-permission android:name="android.permission.INTERNET"/>-->

<!--<application-->
    <!--android:allowBackup="true"-->
    <!--android:icon="@mipmap/ic_launcher"-->
    <!--android:label="@string/app_name"-->
    <!--android:supportsRtl="true"-->
    <!--android:theme="@style/Theme.Base">-->





    <!--<meta-data android:name="com.google.android.gms.version"-->
               <!--android:value="@integer/google_play_services_version" />-->


    <!--<activity-->
        <!--android:name=".MainActivity"-->
        <!--android:label="@string/app_name"-->
        <!-->-->
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"></action>-->
            <!--<category android:name="android.intent.category.LAUNCHER"></category>-->

        <!--</intent-filter>-->

    <!--</activity>-->
<!--</application>-->

<!--</manifest>-->