<?xml version="1.0" encoding="utf-8"?>
<manifest package="fj.swsk.cn.eqapp"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="cn.swsk.rgyxtqapp.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name=".conf.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".main.C.LoginActivity"
                  android:configChanges="keyboard|keyboardHidden"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".main.C.MainActivity">
        </activity>
        <activity android:name=".subs.user.C.UserActivity"
            >
        </activity>
        <activity android:name=".subs.user.C.ModiInfpActivity"
            >
        </activity>
        <activity android:name=".subs.user.C.ModiwPwdActivity"
        >
    </activity>

        <activity android:name=".map.DeathTheaticSearchActivity"
            >
        </activity>
        <activity android:name=".map.DeathThematicQueryMapActivity"
            >
        </activity>
    </application>

</manifest>
